@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header-img {
  max-width: 50%;
}

.card-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  margin: 0.5rem 0;
}

.card,
.card__inner {
  width: 102px;
  height: 175px;
}

.card {
  perspective: 1000px;
}
.card:hover .card__inner,
.card:active .card__inner,
.card:focus .card__inner {
  transform: rotateY(180deg);
}

.card,
.card__inner {
  position: relative;
}

.card__inner {
  transition: transform .25s ease-in-out;
  transform-origin: 50% 192px;
  transform-style: preserve-3d;
}

.card__face {
  transform: rotateY(180deg);
}

.card__back,
.card__face {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #fff;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.suit-icon {
  width: 20px;
}